**/__MACOSX/**
**/bin/
*.xlsx
**/rust/**/target/**
**/*.class
**/out/**/*.class
**/out/**/*.log
**/out/**/*.tmp
**/out/**/*.bak
**/out/**/*.swp
**/out/**/*.swo
**/out/**/*.DS_Store
**/*.DS_Store
**/out/**/*.idea/
shrayansh/lld/src/com/interviewcodingpractise
